.header {
  background-color: black;
  padding: 15px; /* Padding para el header */
}

ion-icon,
ion-title {
  font-size: 30px; /* Tamaño de ícono y título */
}

.selected {
  --background: var(--ion-color-success);
}

.notselected {
  --background: rgba(0, 0, 0, 0.8);
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  height: 100%; /* Asegurar que ocupe todo el espacio disponible */
}

.text-center {
  text-align: center;
  font-size: 40px; /* Tamaño del texto */
  margin: 20px 0; /* Espacio superior e inferior */
  flex-grow: 1; /* Permitir que este div crezca y ocupe espacio */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente dentro del div */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; /* Asegurarse de que ocupe todo el ancho */
}

.card {
  width: 48%; /* Ocupar casi la mitad del espacio */
  margin: 1%; /* Espacio entre tarjetas */
}

.card img {
  width: 100%;
}

button {
  padding: 30px;
  height: 4.2em;
  background-color: #212121;
  border-radius: 2rem;
  font-size: 40px;
}

ion-button {
  margin-top: 20px; /* Espacio entre botones */
}

ion-icon {
  color: #d9d9d9;
}
