.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;

  @-webkit-keyframes cool-animation {
    0% {
      -webkit-transform: scale(0) rotate(0deg);
      transform: scale(0) rotate(0deg);
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(1.1) rotate(10deg);
      transform: scale(1.1) rotate(10deg);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1) rotate(0deg);
      transform: scale(1) rotate(0deg);
      opacity: 1;
    }
  }

  @keyframes cool-animation {
    0% {
      -webkit-transform: scale(0) rotate(0deg);
      transform: scale(0) rotate(0deg);
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(1.1) rotate(10deg);
      transform: scale(1.1) rotate(10deg);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1) rotate(0deg);
      transform: scale(1) rotate(0deg);
      opacity: 1;
    }
  }

  img {
    -webkit-animation: cool-animation 1.5s ease-out;
    animation: cool-animation 1.5s ease-out;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
  }

  h1 {
    -webkit-animation: cool-animation 1.5s ease-out 0.5s;
    animation: cool-animation 1.5s ease-out 0.5s;
    color: #d9d9d9;
    font-family: "Ubuntu";
    font-size: 40px;
  }

  h2 {
    -webkit-animation: cool-animation 1.5s ease-out 0.8s;
    animation: cool-animation 1.5s ease-out 0.8s;
    color: #d9d9d9;
    font-size: 35px;
    font-family: "Ubuntu";
    margin-top: unset;
  }
}
