<ion-header class="header">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="text-center">
    <h1>Top 5 Mejores Registros</h1>

    <ion-list *ngIf="bestScores.length > 0; else noScores">
      <ion-item *ngFor="let score of bestScores">
        <ion-label>{{ score.name }} - {{ score.score }}</ion-label>
      </ion-item>
    </ion-list>

    <ng-template #noScores>
      <ion-list>
        <ion-item>
          <ion-label>No hay registros disponibles.</ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </div>
</ion-content>
