<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="text-center">
    <h1>Top 5 Mejores Registros</h1>

    <ion-list *ngIf="bestScores.length > 0; else noScores">
      <ion-item *ngFor="let score of bestScores">
        <ion-label>{{ score.name }}: Aciertos {{ score.score }}</ion-label>
      </ion-item>
    </ion-list>

    <ng-template #noScores>
      <ion-list>
        <ion-item>
          <ion-label>No hay registros de juegos ganados.</ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </div>
</ion-content>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#d9d9d9"
  type="square-loader"
  [fullScreen]="true"
>
  <p style="color: #dee2e6; font-family: Ubuntu; font-size: 40px">
    Cargando...
  </p>
</ngx-spinner>
