.logout {
  i {
    margin-left: 1rem;
  }
}

.level-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar verticalmente */
  height: 100%; /* Ocupa toda la pantalla */
  text-align: center;
  padding: 20px;
  box-sizing: border-box; /* Incluye el padding en el tamaño total */
}

.level-card {
  width: 100%; /* Ocupa todo el ancho */
  margin: 10px 0; /* Espaciado vertical entre tarjetas */
  height: calc(33% - 20px); /* Ocupa un tercio de la altura disponible */
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  color: #d9d9d9; /* Texto blanco para mayor contraste */
  display: flex; /* Flex para ocupar toda la tarjeta */
  font-family: "Ubuntu";
  flex-direction: column; /* Coloca el contenido verticalmente */
}

.card-content {
  flex: 1; /* Ocupa todo el espacio disponible en la tarjeta */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente el contenido */
  padding: 20px; /* Espaciado interno */
  ion-card-title {
    font-size: 22px;
    font-weight: bold;
    color: black;
    font-family: "Ubuntu";
  }
  ion-card-content {
    font-size: 22px;
    color: black;
    font-family: "Ubuntu";
  }
}

.level-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* Colores de fondo para cada nivel */
.low {
  background-color: #4caf50; /* Verde para bajo */
}

.medium {
  background-color: #ff9800; /* Naranja para medio */
}

.high {
  background-color: #f44336; /* Rojo para alto */
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #d9d9d9; /* Color del título */
}

.best-scores {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  color: #d9d9d9;
  text-decoration: underline;
  &:hover {
    color: black;
  }
}
